name: Pull request checks

on:
    pull_request:

# Avoid duplicate runs on force-pushes
concurrency:
    group: pr-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    labeler:
        name: Add labels
        permissions:
            contents: read
            pull-requests: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/labeler@v6
              with:
                  sync-labels: true

    lint:
        name: Lint monorepo
        runs-on: ubuntu-latest
        continue-on-error: true
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                version: 10
                cache: true

            - name: Install dependencies
              run: pnpm install

            - name: Install Composer dependencies
              run: composer i

            - name: Run css lint
              run: npm run lint:css

            - name: Run js lint
              run: npm run lint:js

            - name: Run php lint
              run: npm run lint:php

    detect-affected-projects:
        name: Detect affected sub-projects
        runs-on: ubuntu-latest
        outputs:
            projects: ${{ steps.compute.outputs.projects }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                version: 10
                cache: true

            - name: Install dependencies
              run: pnpm install

            - name: Get affected projects
              id: compute
              uses: nrwl/nx-set-shas@v4
              run: npx nx show projects --affected --json

    build-and-test:
        name: Build and Test ${{ matrix.project }}
        needs: detect-affected-projects
        if: ${{ needs.detect-affected-projects.outputs.projects != '' && needs.detect-affected-projects.outputs.projects != '[]' }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                project: ${{ fromJSON(needs.detect-affected-projects.outputs.projects) }}
        defaults:
            run:
                working-directory: ${{ matrix.project }}
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                version: 10
                cache: true

            - name: Install dependencies
              run: pnpm install

            - name: Install Composer dependencies
              run: nx run ${{ matrix.project }}:composer:install

            - name: Install Playwright dependencies
              run: npx playwright install --with-deps

            - name: Build
              run: nx run ${{ matrix.project }}:build

            - name: Start wp-env
              run: nx run ${{ matrix.project }}:wp-env start

            - name: Run JS unit tests
              run: nx run ${{ matrix.project }}:test:unit:js

            - name: Run e2e tests
              run: nx run ${{ matrix.project }}:test:e2e

            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                name: playwright-report
                path: artifacts/test-results/
                retention-days: 30

            - name: Run screenshot updates
              run: nx run ${{ matrix.project }}:test:screenshot

            - name: Run PHP integration tests
              run: nx run ${{ matrix.project }}:test:integration

            # Todo: Determine how to allow bot commits without retriggering default CodeQL check.
            # - name: Commit and push updates
            #   uses: stefanzweifel/git-auto-commit-action@v7.1.0
            #   with:
            #     commit_message: 'Update e2e snapshots (committed automatically via Visual Regression workflow) [skip ci]'
